{% extends 'base.html' %}
{% block header %}
<nav class="navbar navbar-expand-sm bg-light border-bottom justify-content-center">
    <div class="ms-5">
        <h3 class="text-secondary">{{page_name}}</h3>
    </div>
</nav>  
{% endblock %}

{% block content %}  
  <article class="ms-5 mt-1">
    {% if currency_list %}
    <div class="d-flex justify-content-center">
        <ul class="bg-secondary bg-opacity-25 px-5 py-3">
            {% for currency in currency_list %}
            <li class="fs-4 py-2"><a href="{% url currency_detail currency.id %}">{{ currency.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    {% else %}
        <p>No Currencies are available.</p>
    {% endif %}
</article>   
{% endblock %}