{% extends 'base.html' %}
{% block header %}
<nav class="navbar navbar-expand-sm bg-light border-bottom justify-content-center">
    <div class="ms-5">
        <h3 class="text-secondary">{{page_name}}</h3>
    </div>
</nav>  
{% endblock %}

{% block content %}  
  <article class="ms-5 mt-1">
    {% if ticker_content %}
    <div class="d-flex justify-content-center">
        <ul class="bg-secondary bg-opacity-25 px-5 py-3">
            {% for item in ticker_content %}
                {% if item.name %}
                    <li class="fs-4 py-2"><B>Name: </B>{{item.name}}</li>
                {% endif %}
                {% if item.symbol %}
                    <li class="fs-4 py-2"><B>Symbol: </B>{{item.symbol}}</li>
                {% endif %}
                {% if item.exchange %}
                    <li class="fs-4 py-2"><B>Exchange: </B>{{item.exchange.name}}</li>
                {% endif %}                
            {% endfor %}
        </ul>
    </div>
    
    {% else %}
        <p>Selected Ticker not available.</p>
    {% endif %}
</article>   
{% endblock %}